<!-- for custom client-side validation (min / max) need a FORM tag
This also means needing to add the name attribute to each form element 
and the a template variable (always set the template variable to ngModel.)
Creating the template variable allows you to access the state of the control, such as whether that control is valid and has been touched.
   eg.  #productName="ngModel" -->
<form #productForm="ngForm">

    <!-- 'messages[]' is a public property in the code-behind -->
    <!-- extend the ngIf to also look to see if the form was Touched and invalid -->
    <div class="row" *ngIf="(messages && messages.length > 0) ||
         (productForm.form.touched && !productForm.form.valid)">
        <div class="col-xs-12">
            <div class="alert alert-warning">
                <ul>
                    <li *ngFor="let msg of messages">{{msg}}</li>
                    <!-- the above is to display server-side errors. the below is for client-side. -->
                    <li [hidden]="!productName.errors?.required">
                        Product Name is required
                    </li>
                    <li [hidden]="!productName.errors?.minlength">
                        Product Name must be at least 4 characters.
                    </li>
                    <li [hidden]="!productName.errors?.maxlength">
                        Product Name must be 50 characters or less.
                    </li>
                    <li [hidden]="!introductionDate.errors?.required">
                        Introduction Date is required
                    </li>
                    <li [hidden]="!price.errors?.required">
                        Price is required
                    </li>
                    <li [hidden]="!url.errors?.required">
                        URL is required
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="panel panel-primary" *ngIf="product">
        <div class="panel-heading">
            <h1 class="panel-title">Product Information</h1>
        </div>
        <div class="panel-body">
            <!-- 'messages[]' is a public property in the code-behind -->
            <div class="row" *ngIf="messages && messages.length">
                <div class="col-xs-12">
                    {{message.length}} errors
                    <div class="alert alert-warning">
                        <ul>
                            <li *ngFor="let msg of messages">
                                {{msg}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- '[(ngModel)]' is a way to define the 'value' of an input -->
            <div class="form-group">
                <label form="productName">Product Name</label>
                <input id="productName"
                       name="productName"
                      
                       #productName="ngModel"
                       required
                       minlength="4"
                       maxlength="50"

                       type="text"
                       class="form-control"
                       autofocus="autofocus"
                       placeholder="Enter the Product Name"
                       title="Enter the Product Name"
                       [(ngModel)]="product.productName" />
            </div>
            <div class="form-group">
                <label form="introductionDate">Introduction Date</label>
                <input type="text"
                       id="introductionDate"
                       name="introductionDate"
                       #introductionDate="ngModel"
                       required
                       class="form-control"
                       placeholder="Enter the Introduction Date"
                       title="Enter the Introduction Date"
                       [(ngModel)]="product.introductionDate" />
            </div>
            <div class="form-group">
                <label form="price">Price</label>
                <input type="number"
                       id="price"
                       name="price"
                       #price="ngModel"
                       required
                       class="form-control"
                       placeholder="Enter the Price"
                       title="Enter the Price"
                       [(ngModel)]="product.price" />
            </div>
            <div class="form-group">
                <label form="url">Url</label>
                <input type="url"
                       id="url"
                       name="url"
                       #url="ngModel"
                       Required
                       class="form-control"
                       placeholder="Enter the URL"
                       title="Enter the URL"
                       [(ngModel)]="product.url" />
            </div>
            <div class="form-group">
                <label form="summary">Summary</label>
                <input type="text" 
                       id="summary"
                       name="summary"
                       #summary="ngModel"
                       class="form-control" 
                       placeholder="Enter the Summary" 
                       title="Enter the Summary" 
                       [(ngModel)]="product.summary" />
            </div>
        </div>
        <div class="panel-footer">
            <button class="btn btn-success" (click)="saveProduct()">Save</button>
            <button class="btn btn-primary" (click)="goBack()">Cancel</button>
        </div>
    </div>

</form>