<div class="row">
    <div class="col-xs-12">
        <!--here is the way i can navigate with angular routing-->
        <nav>
            <a class="btn btn-primary" routerLink="/">Home</a>
            <a class="btn btn-primary" routerLink="/productList">Product List</a>
        </nav>
        <br/>
        <h1>{{pageTitle}}</h1>
        <!-- 'router-outlet' ... this is where angular will insert html supplied by the component 
            that routed to by the value in the 'routerLink' attrubute.
            This value in the attribute, 'productList', is going to match up with a route defined in my app-routing.module.ts-->
        <router-outlet></router-outlet>
    </div>
</div>